.timetable
{
	width: 100%;
}

.timetable thead th
{
	font-weight: normal;
	text-transform: uppercase;
	padding: 10px 15px 12px;
}

.timetable th, 
.timetable td:first-child {
	text-align: center;
	vertical-align: middle;
}

.timetable tbody tr:nth-child(odd){
	background: #e8e8e8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.timetable td
{
	width: 12.5%;
	min-height: 30px;
	text-align: center
}

.timetable .event {
	background-color: #3156A3;
	color: #fff;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	line-height: 140%;
	cursor: pointer;
}

.timetable .event:hover,
.timetable .event:focus {
	background-color: #42B3E5;
}

.timetable .event .event-container{
	padding: 10px 15px 12px;
}

/* Desktop and bigger */
@media (min-width: 960px) {
  .uk-visible-small {
    display: none !important;
  }
  .uk-visible-medium {
    display: none !important;
  }
  .uk-hidden-large {
    display: none !important;
  }
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
  .uk-visible-small {
    display: none !important;
  }
  .uk-visible-large {
    display: none !important ;
  }
  .uk-hidden-medium {
    display: none !important;
  }
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
  .uk-visible-medium {
    display: none !important;
  }
  .uk-visible-large {
    display: none !important;
  }
  .uk-hidden-small {
    display: none !important;
  }
}

/* Remove from the flow and screen readers on any device */
.uk-hidden {
  display: none !important;
  visibility: hidden !important;
}